body {
  color: #292929;
  font-family: "Gotham Pro Regular";
}

.overhidden {
  overflow: hidden;
}

@font-face {
  font-family: 'Gotham Pro Light';
  src: url("../fonts/GothamPro-Light.eot");
  src: url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url("../fonts/GothamPro-Medium.eot");
  src: url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.mobile-nav {
  display: none;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  z-index: 5000;
  cursor: pointer;
}

.mobile-nav__line {
  display: block;
  width: 18px;
  height: 3px;
  background-color: #000000;
  position: absolute;
  left: calc(50% - 9px);
  top: calc(50% - 1.5px);
}

.mobile-nav__line:before {
  display: block;
  width: 18px;
  height: 3px;
  background-color: #000000;
  position: absolute;
  left: calc(50% - 9px);
  top: calc(50% - 1.5px);
  content: '';
  margin-top: -6px;
  -webkit-transition: margin-top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: margin-top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, margin-top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, margin-top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.mobile-nav__line:after {
  display: block;
  width: 18px;
  height: 3px;
  background-color: #000000;
  position: absolute;
  left: calc(50% - 9px);
  top: calc(50% - 1.5px);
  content: '';
  margin-top: 6px;
  -webkit-transition: margin-top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: margin-top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, margin-top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, margin-top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}

.mobile-nav_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.8;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobile_active .mobile-nav__line {
  background-color: transparent;
}

.mobile_active .mobile-nav__line:before {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: margin-top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: margin-top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: margin-top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: margin-top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.mobile_active .mobile-nav__line:after {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: margin-top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: margin-top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: margin-top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: margin-top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.header {
  padding-top: 30px;
  z-index: 200;
  position: relative;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo__img {
  margin-right: 14px;
}

.header-logo__desc {
  font-family: "Gotham Pro Light";
  font-size: 11px;
  font-weight: 300;
  line-height: 22px;
  color: #969696;
}

.header-logo__text {
  font-family: "Gotham Pro Bold";
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
}

.header-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-call__phone {
  font-size: 11px;
  line-height: 22px;
  margin-right: 31px;
  color: #969696;
}

.header-call__phone_number {
  display: block;
  font-family: "Gotham Pro Bold";
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.header-nav {
  background-color: #ffcc00;
  margin-top: 30px;
}

.header-nav ul {
  padding: 0;
  text-align: center;
  list-style: none;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.header-nav__item {
  font-family: "Gotham Pro Bold";
  list-style-type: none;
  font-size: 14px;
  line-height: 22px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header-nav__item:hover {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header-nav__link {
  padding: 24px 0;
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  display: block;
}

.header-nav__link:hover {
  text-decoration: none;
  color: #333333;
  background-color: #ffe066;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.main {
  padding-top: 140px;
  padding-bottom: 140px;
  margin-bottom: 40px;
  margin-top: -50px;
  background: url("../img/main_bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  background-color: #303030;
  z-index: 2;
}

.main:after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.delivery {
  color: #ffffff;
}

.delivery-desc__title {
  font-family: "Gotham Pro Bold";
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.delivery-desc__text {
  font-size: 14px;
  font-family: "Gotham Pro Light";
  line-height: 22px;
  margin-bottom: 65px;
}

.delivery-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.delivery-cta__button {
  margin-right: 30px;
}

.delivery-cta__or {
  margin-right: 30px;
  font-size: 14px;
  font-family: "Gotham Pro Light";
}

.delivery-cta__link {
  font-size: 14px;
  font-weight: "Gotham Pro Medium";
  line-height: 22px;
  text-decoration: underline;
  color: #ffffff;
  cursor: pointer;
}

.delivery-cta__link:hover {
  color: #0615d7;
}

button:focus {
  outline: none;
}

.back-call-button {
  background-color: transparent;
  padding: 10px 24px;
  border: 2px solid #292929;
  font-family: "Gotham Pro Medium";
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  color: #000000;
}

.back-call-button:hover {
  background-color: #f0f0f0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  color: #262626;
}

.button-cta {
  padding: 20px 30px;
  color: #0d0d0d;
  font-size: 14px;
  font-family: "Gotham Pro Bold";
  line-height: 22px;
  background-color: #ffd200;
  border: none;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.button-cta:hover {
  background-color: #ffdb33;
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
}

.section-title {
  font-size: 20px;
  font-family: "Gotham Pro Bold";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.product {
  padding-top: 40px;
}

.product-card {
  text-align: center;
  border: 2px solid #f6f6f6;
  padding: 36px 40px;
  margin-bottom: 80px;
}

.product-card__img {
  height: 140px;
  margin: 0 auto;
}

.product-card__title {
  font-family: "Gotham Pro Medium";
  font-size: 15px;
  text-decoration: underline;
  margin-bottom: 32px;
  margin-top: 20px;
}

.product-card__text {
  font-size: 13px;
  font-family: "Gotham Pro Light";
  color: #626262;
  margin-bottom: 29px;
}

.product-card__price {
  color: #0f0f0f;
  font-size: 16px;
  font-family: "Gotham Pro Bold";
  margin-bottom: 32px;
}

.product-card__button {
  padding: 20px 55px;
}

.img-sand {
  background: url(../img/products/sand.png) center no-repeat;
  background-size: contain;
}

.img-sheben {
  background: url(../img/products/sheben.png) center no-repeat;
  background-size: contain;
}

.img-ground {
  background: url(../img/products/ground.png) center no-repeat;
  background-size: contain;
}

.features {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f4f4f4;
}

.features-block {
  text-align: center;
  border: 2px solid #ffffff;
  padding: 42px;
  margin-bottom: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features-block:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features-block__img {
  margin-bottom: 40px;
}

.features-block__title {
  font-size: 19px;
  font-family: "Gotham Pro Bold";
  margin-bottom: 20px;
}

.features-block__text {
  font-size: 13px;
  font-family: "Gotham Pro Light";
  line-height: 18px;
}

.popular {
  padding-top: 80px;
  padding-bottom: 80px;
}

.popular-good {
  text-align: center;
  border: 2px solid #f6f6f6;
  padding: 20px;
  margin-bottom: 25px;
}

.popular-good__img {
  position: relative;
  display: inline-block;
  margin-bottom: 22px;
}

.popular-good__title {
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 24px;
}

.popular-good__price {
  font-size: 16px;
  font-family: "Gotham Pro Medium";
  margin-bottom: 25px;
}

.popular-good__button {
  padding: 20px 68px;
}

.sale {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 14px;
  font-family: "Gotham Pro Medium";
}

.sale__price {
  font-size: 16px;
  font-family: "Gotham Pro Medium";
  color: #ff0000;
}

.old-price {
  font-size: 10px;
  text-decoration: line-through;
  color: #979797;
  margin-right: 14px;
}

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f4f4f4;
}

.services-block {
  text-align: center;
  border: 2px solid #ffffff;
  padding: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 25px;
}

.services-block:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services-block__img {
  min-height: 130px;
  margin-bottom: 40px;
}

.services-block__title {
  font-family: "Gotham Pro Medium";
  font-size: 16px;
  text-decoration: underline;
}

.contacts {
  position: relative;
}

.contacts__map {
  background: #101010 url(../img/map.jpg) center no-repeat;
  background-size: cover;
  height: 515px;
}

.contacts-block {
  position: absolute;
  top: 80px;
  right: 10%;
  background-color: #ffffff;
  color: #292929;
  padding: 60px;
}

.contacts-block__title {
  font-family: "Gotham Pro Bold";
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 53px;
}

.contacts-block__phone {
  font-size: 14px;
  font-family: "Gotham Pro Medium";
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.contacts-block__phone:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -30px;
  background: url(../img/contacts/phone.png) center no-repeat;
}

.contacts-block__address {
  position: relative;
  font-size: 14px;
  max-width: 230px;
  margin-bottom: 40px;
}

.contacts-block__address:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -30px;
  background: url(../img/contacts/address.png) center no-repeat;
}

.contacts-block__email {
  position: relative;
  font-size: 14px;
  text-decoration: underline;
}

.contacts-block__email:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -30px;
  background: url(../img/contacts/email.png) center no-repeat;
}

.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #292929;
  color: #ffffff;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.footer-logo__img {
  margin-right: 14px;
}

.footer-logo__desc {
  font-family: "Gotham Pro Light";
  font-size: 11px;
  font-weight: 300;
  line-height: 22px;
}

.footer-logo__text {
  font-family: "Gotham Pro Bold";
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-cta {
  text-align: right;
}

.footer-call__phone {
  font-size: 11px;
  line-height: 22px;
  margin-bottom: 30px;
}

.footer-call__phone_number {
  font-size: 18px;
  font-family: "Gotham Pro Bold";
  line-height: 22px;
  display: block;
}

.footer-call__button {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.resent-text {
  font-size: 12px;
  line-height: 22px;
}

@media (max-width: 575.98px) {
  .delivery-cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .delivery-cta__button {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .delivery-cta__or {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .delivery-desc__title {
    font-size: 32px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    border: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    border: none;
  }
}

@media (min-width: 1200px) {
  body {
    border: none;
  }
}

@media (max-width: 767.98px) {
  .header-logo {
    margin-bottom: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-logo__desc {
    font-size: 10px;
  }

  .header-logo__text {
    font-size: 16px;
  }

  .header-call {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-call__phone_number {
    font-size: 12px;
  }

  .header-call__button {
    font-size: 11px;
  }

  .main {
    padding: 90px 0;
    margin-top: 25px;
  }

  .delivery {
    text-align: center;
  }

  .contacts__map {
    display: none;
  }

  .contacts-block {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-about {
    margin-bottom: 25px;
  }

  .footer-logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer-cta {
    text-align: center;
  }

  .resent-text {
    text-align: center;
  }

  .header-nav {
    margin-top: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    right: -1000px;
    position: fixed;
    top: 0;
    bottom: 0;
  }

  .mobile-nav {
    display: block;
  }
}

@media (max-width: 992px) {
  .product-card {
    margin-bottom: 25px;
  }
}

@media (max-width: 359px) {
  .services-block__img {
    margin-left: -20px;
  }
}

/*# sourceMappingURL=style.css.map */